PORT=3000
NODE_ENV=development
DATABASE_URL=postgresql://your_user:your_password@localhost:5432/db_megastore_exam
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=megastore_db
JWT_SECRET=your_long_random_secret_here_min_32_chars
JWT_REFRESH_SECRET=another_long_random_secret_here_min_32_chars
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
SIMULACRO_CSV_PATH=./data/simulacro_megastore_data_.csv
